html , body {
  background-color: rgb(134 , 153 , 196);
  font-family: Nunito, sans-serif;
  height: 95%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

a {
  background-color: white;
  border-radius: 100%;
  color:rgb(72, 83, 109);
  font-size: 18px;
  font-weight: 700;
  left: 0;
  margin: 10px 0 0 10px;
  padding: .2rem;
  position: absolute;
  text-decoration: none;
  top: 0;
  transition: .2s;
}

a:hover {
  border-radius: 4px;
}

button {
  cursor: pointer;
}

.main-content {
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.color-pallete {
  display: inline-block;
  margin: 5px;
}

.pixel-board {
  display: block;
  margin: 20px;
}

.color {
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  margin: 0 2px;
  width: 40px;
}

.pixel {
  border: 1px solid black;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.size-definition {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.clear-btn {
  align-self: center;
  background: linear-gradient(to right, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 700;
  height: 30px;
  margin-top: 10px;
  opacity: .9;
  transition: .1s;
  width: 90%;
}

.clear-btn:hover {
  opacity: 1;
  transform: scale(1.01);
}

.clear-btn:active {
  transform: scale(1);
}
